<h1>Teachers</h1>
 
<table class = "table table-bordered table-striped" id="teacher_data">
<thead>.
   <tr>
      <th>Id</th>
      <th>Name</th>
      
      <th>School</th>
      <th>Branch</th>
       
   </tr>
</thead>

<tbody>
 <% @teachers.each do |teacher| %>
  
      <tr>
      <td><%= teacher.id%></td>
      <td><%= teacher.name %>
      <td><%= teacher.school.name %></td>
      <td><%= teacher.branch %></td>
   <% end %>
</tbody>

</table>