<h1>Standards</h1>
 
<table class = "table table-bordered table-striped" id="standard_data">
<thead>.
   <tr>
      <th>Name</th>
      <th>school</th>
       
   </tr>
</thead>

<tbody>
 <% @standards.each do |standard| %>
      
      <tr>
      <td><%=  standard.name %></td>
      <td><%=  standard.school.name %></td>
       
         
      
   <% end %>
</tbody>

</table>

